#uriData .ant-table-thead{
    display: none;
}

.ant-table-row-expand-icon-cell{
    color: #5b69af;
}
#addDataRadio .ant-radio-wrapper{
    white-space: normal;
}

#panelActionsMatch {
    .ant-dropdown-trigger {
        margin-top: 4px;
        height: 30px;
        margin-right: 0px;
    }
}

.stepMenu {
    max-height: 50vh;
    border: solid 1px #ddd;
}

#uriMatchedDataTable td:nth-child(2n){
    background-color: #f1f1f1;
}

#uriMatchedDataTable .ant-table-thead{
    text-align-last: center;
    display: contents !important;
}

#uriMatchedDataTable th:nth-child(1){
    text-align-last: left;
}
